app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: text
  content: |
    #/bin/sh

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"
    helm upgrade xyz-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Harish ZBIO
lastUpdatedOn: 2022-09-05T16:06:16.668Z
