app_dependencies:
  type: text
  content: |-
    #!/bin/sh
    cd $ROOST_WORK_DIR/git/application/roost-io/voting_app
    # make all
    # docker build
app_deploy:
  type: ArgoCD
  content: argocd-app.yaml
app_test:
  - name: ''
    configType: artillery
    configPath: ''
app_uninstall:
  type: text
  content: null
lastUpdatedBy: Harish ZBIO
lastUpdatedOn: 2022-10-17T12:01:51.260Z
