app_dependencies:
  type: text
  content: ''
app_deploy:
  type: text
  content: |
    #/bin/sh

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},namespace=${ROOST_NAMESPACE},registry=zbio,tag=latest"
    helm upgrade demo-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

app_docker_compose: ''
lastUpdatedBy: harish
lastUpdatedOn: 2023-03-02T08:21:36.974Z
