app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: text
  content: |
    #/bin/sh

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=zbio,namespace=${ROOST_NAMESPACE}"

    helm upgrade testnow-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
app_test:
  - name: ''
    configType: artillery
    configPath: roost-io/voting_app/
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: HARISH AGRAWAL
lastUpdatedOn: 2022-09-15T14:08:02.101Z
