build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: netlify
  content:
    site_env:
      - key: REACT_APP_EC_SERVER_ENDPOINT
        value: ''
        proxyPort: true
        port: '30040'
      - key: REACT_APP_BALLOT_ENDPOINT
        value: ''
        proxyPort: true
        port: '30042'
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
lastUpdatedBy: afsal
lastUpdatedOn: 2023-03-15T05:19:50.901Z
