app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: text
  content: |+
    #/bin/sh

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm upgrade september29-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS

app_test:
  - name: ecserver
    configType: artillery
    configPath: ecserver/test/test.yaml
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: harish
lastUpdatedOn: 2022-09-29T09:54:12.222Z
