app_dependencies:
  type: None
  content: ''
app_deploy:
  type: netlify
  content:
    site_env: []
app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

app_docker_compose: ''
build:
  type: None
  content: ''
deploy:
  type: None
  content: ''
test: []
uninstall:
  type: None
  content: ''
dockerCompose: ''
lastUpdatedBy: harish
lastUpdatedOn: 2023-03-15T12:48:41.406Z
