.wrapper {
	height: 100vh;
	display: grid;
	place-content: center;
}

.main-form-div {
	border: solid 1px #aaa;
	border-radius: 15px;
	padding: 40px;
}

.main-form-div h2 {
	text-align: center;
	margin-bottom: 30px;
}

.main-form-div h4 {
	margin-bottom: 20px;
}

.main-form {
	min-width: 600px;
}

.main-form input.form-control {
	margin-top: 10px;
	margin-bottom: 25px;
}

.main-form .alert {
	margin: 20px 0;
}
.card {
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 370px;
	margin: 20px;
	border-radius: 5px;
	position: relative;
	/* box-shadow: 2px 2px 5px 1px grey; */
}
.close-icon {
	cursor: pointer;
	position: absolute;
	line-height: 10px;
	top: 5px;
	right: 5px;
	font-size: 20px;
	color: #fff;
	z-index: 9;
}
.cards-container {
	/* display: flex;
  justify-content: space-between; */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.card-container {
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 370px;
	margin: 20px;
	border-radius: 5px;
}

.card-background-container {
	flex: 4;
	background-image: linear-gradient(to right, #f96661, #ffbb5d);
	position: relative;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.card-content-container {
	flex: 4;
	flex-direction: column;
	justify-content: center;
	display: flex;
	align-items: center;
	font-weight: bold;
	font-size: 22px;
	background-color: white;
	padding-top: 30px;
}
.card-content {
	margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-background-image {
	position: absolute;
	top: 50%;
	left: 25%;
	background: white;
	border-radius: 50%;
	border: 5px solid #d4cfcf;
}
.image {
	border-radius: 50%;
}
.delete-Button {
	display: flex;
	justify-content: center;
	color: #fff;
	font-size: 15px;
	border-radius: 8px;
	padding: 5px;
	background-color: #f34545;
  margin-top: 10px;
  cursor: pointer;
  width: 100px;
}
.modal-dialog {
  z-index: 1050;}
